.login-background{
	background-color: #fff !important;
   
    padding-left: 0px;
    padding-right: 0px;

}



.login-image{
      width: 100%;

}

.padder{
	 padding-left: 15px;
    padding-right: 15px;
}